<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘은 뭐 먹지? - <%= video.title %></title>

    <!-- SEO -->
    <meta
      name="description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <link rel="icon" href="/static/img/icons/favicon.ico" />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="오늘은 뭐 먹지? - <%= video.title %>" />
    <meta
      property="og:description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <meta property="og:image" content="/static/img/logo/seoLogo.jpg" />
    <!-- Twitter -->
    <meta name="twitter:title" content="오늘은 뭐 먹지? - <%= video.title %>" />
    <meta
      name="twitter:description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <meta name="twitter:image" content="/static/img/logo/seoLogo.jpg" />

    <!-- common CSS -->
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- index CSS -->
    <link rel="stylesheet" href="/static/css/detail.css" />
    <!-- header -->
    <link rel="stylesheet" href="/static/css/header.css" />

  <!-- edit -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css" crossorigin>

  <!-- cdn -->
   <script
      src="https://kit.fontawesome.com/6dd6eb0895.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- header, footer script -->
    <script defer src="/static/js/login_menu.js"></script>

    <!-- 메모 데이터 프론트로 전달 -->
    <script>
      const noteStr = "<%= note ? JSON.stringify(note) : 'null' %>";
      const currentNote = noteStr === 'null' ? null : JSON.parse(noteStr);
    </script>
  </head>
  <body>
    <!-- header include -->
    <%-include("./includes/header") %>
    <main>
      <div class="container">
        <div class="item">
          <div class="thumbnail">
            <iframe
              src="https://www.youtube.com/embed/<%= video.videoId %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="description">
            <div class="recipeHead">
              <h3 class="title"><%= video.title %></h3>
              <!-- 북마크 -->
              <form action="post" name="bookmark">
                <button
                  type="button"
                  id="bookmarkBtn"
                  class="bookmarkButton-off"
                  data-status=fasle
                  onclick="toggleBookmark();"
                >
                  <i class="fa-regular fa-heart"></i>북마크
                </button>
              </form>
            </div>

            <p class="creator"><%= video.channelTitle %></p>
            <p class="subtitle subtitle-off"><%= video.description %></p>
            <div class="moreLine">
              <div></div>
              <p>더보기</p>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="memoBox">
        <!-- 로그인이 안됐을때 메모작성을 막기 위한 로그인 알림창 -->
        <div class="loginAlert loginAlert-Off">
          <h3>지금 로그인하고<br> 메모 기능을 사용해보세요!</h3>
          <p>간편하게 재료와 레시피를 나의 스타일에 맞게 작성할 수 있습니다.</p>
          <div class="buttonBox">
            <a href="/users/login" class="btnOpen ">로그인</a>
            <a href="/users/register" class="btnClose">회원가입</a>
          </div>
        </div>
        <!-- 재료 메모박스 -->
        <div class="memoItem ing">
          <p class="title">재료 메모장</p>
          <form class="ingForm-Open" name="memo" method="post">
            <% if(note) { %>
              <input type="hidden" id="noteId" value="<%= note.id %>">
              <input type="hidden" id="videoId" value="<%= video.videoId %>">
              <input type="hidden" id="title" value="<%= video.title %>">
              <input type="hidden" id="thumbnailUrl" value="<%= video.thumbnail %>">
              <input type="hidden" id="channelTitle" value="<%= video.channelTitle %>">
              <div id="ingData"><%= note.ingredients %></div>
            <% } else { %>
              <input type="hidden" id="videoId" value="<%= video.videoId %>">
              <input type="hidden" id="title" value="<%= video.title %>">
              <input type="hidden" id="thumbnailUrl" value="<%= video.thumbnail %>">
              <input type="hidden" id="channelTitle" value="<%= video.channelTitle %>">
              <div id="ingData"></div>
            <% } %>
            <div class="memoButtons">
              <button type="button" class="btn btnClose" onclick="deleteIngredientsMemo();" >메모 삭제</button>
              <button type="button" class="btn btnClose" onclick="ingReset();">내용 초기화</button>
              <button type="button" class="btn btnClose" onclick="ingForm();">수정취소</button>
              <button type="button" class="btn btnOpen registr">등록</button>
            </div>
          </form>

        <!-- 재료 뷰 -->
        <form class="ingForm" name="memo" method="post">
          <textarea class="ingredientTextarea" readonly contenteditable="true">
            <%= note.ingredients %>
          </textarea>
          <div class="memoButtons">
            <button type="button" class="btn btnOpen" onclick="ingForm();">수정</button>
          </div>
        </form>
      </div>
        <!-- 재료 메모박스 끝 -->

        <!-- 레시피 메모박스 -->
        <div class="memoItem rcp">
          <p class="title">레시피 메모장</p>
<% console.log('notee',note) %>
          <form class="rcpForm-Open" name="memo" method="post">
            <% if (note) { %>
              <input type="hidden" id="noteId_rcp" value="<%= note.id %>">
              <input type="hidden" id="videoId" value="<%= video.videoId %>">
              <input type="hidden" id="title" value="<%= video.title %>">
              <input type="hidden" id="thumbnailUrl" value="<%= video.thumbnail %>">
              <input type="hidden" id="channelTitle" value="<%= video.channelTitle %>">
              <div id="rcpData"><%= note.ingredients %></div>
            <% } else { %>
              <input type="hidden" id="videoId" value="<%= video.videoId %>">

              <input type="hidden" id="title" value="<%= video.title %>">
              <input type="hidden" id="thumbnailUrl" value="<%= video.thumbnail %>">
              <input type="hidden" id="channelTitle" value="<%= video.channelTitle %>">
              <div id="rcpData"></div>
            <% } %>
            <div class="memoButtons">
              <button type="button" class="btn btnClose" onclick="deleteRecipeMemo()">메모 삭제</button>
              <button type="button" class="btn btnClose" onclick="rcpReset()">내용 초기화</button>
              <button type="button" class="btn btnClose" onclick="rcpForm()">수정취소</button>
              <button type="button" class="btn btnOpen registr">등록</button>
            </div>
          </form>
          
          <!-- 레시피 뷰 -->
          <form  class="rcpForm" name="memo" method="post">

            <textarea class="RecipeTextarea" readonly contenteditable="false">
              <%= note.recipe %>
            </textarea>
            <div class="memoButtons">
              <button type="button" class="btn btnOpen" onclick="rcpForm();" >수정</button>
            </div>
          </form>
          <!-- 전체메모 삭제 -->
          <form method="post" class="delAllMemo">
            <button type="button" class="btn btnClose" onclick="delAllMemo()">전체메모 삭제</button>
          </form>
        </div>
         <!-- 레시피 메모박스 끝 -->
      </div>
    </main>
    <footer>
      <p>Copyright 2024. Team 2TheCode All rights reserved.</p>
    </footer>
    <div class="mgnb">
      <div class="menubox">
        <div class="menu">
          <a href="/"><img src="/static/img/icons/Home.png" alt="홈버튼" /></a>
        </div>
        <div class="menu">
          <a href="/favorites"
            ><img src="/static/img/icons/Heart.png" alt="즐겨찾기"
          /></a>
        </div>
        <div class="menu">
          <!-- 로그인시  태그변경 -->
          <div class="login-On">
            <a href="users/"
              ><img src="/static/img/icons/Profile.png" alt="프로필"
            /></a>
          </div>
          <div class="login-Off">
            <a href="users/login"
              ><img src="/static/img/icons/Login.png" alt="로그인"
            /></a>
          </div>
        </div>
      </div>
    </div>

    

    <!-- edit -->
    <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js" crossorigin></script>
		<script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/translations/ko.umd.js" crossorigin></script>
		<script src="/static/js/detail.js"></script>
    <script src="/static/js/auth.js"></script>
  </body>
</html>
