<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘은 뭐 먹지? - 회원정보</title>

    <!-- SEO -->
    <meta
      name="description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="오늘은 뭐 먹지? - 회원정보" />
    <meta
      property="og:description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <meta property="og:image" content="/static/img/logo/seoLogo.jpg" />
    <!-- Twitter -->
    <meta name="twitter:title" content="오늘은 뭐 먹지? - 회원정보" />
    <meta
      name="twitter:description"
      content="매번 고민되는 한끼를 좀 더 쉽고 간편하게 찾고 요리할 수 있도록 레시피 정보와 메모기능을 제공하는 서비스입니다."
    />
    <meta name="twitter:image" content="/static/img/logo/seoLogo.jpg" />

    <!-- JS (jQuery 제거하고 Axios 사용) -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--   css -->
    <!-- common  -->
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- 회원가입 -->
    <link rel="stylesheet" href="/static/css/register.css" />
    <!-- footer -->
    <link rel="stylesheet" href="/static/css/footer.css" />

    <!-- jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- googlrFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- css -->
    <!-- common  -->
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- users css -->
    <link rel="stylesheet" href="/static/css/users.css" />
    <!-- footer -->
    <link rel="stylesheet" href="/static/css/footer.css" />

    <!-- header, footer script -->
    <script defer src="/static/js/login_menu.js"></script>
  </head>
  <body>
    <!-- header include -->
    <%-include("./includes/header") %>

    <main>
      <div class="con">
        <div class="userBox">
          <div class="web mobileTitle">
            <p>내 정보</p>
          </div>
          <!-- 프로필 박스1 -->
          <div class="userBox1">
            <!-- 프로필사진 이름 -->
            <div class="userPic">
              <img
                src="<%= user.profileImage || '/static/img/icons/profile.png' %>"
                alt="profileimage"
                class="profileImg"
              />
            </div>
            <div class="userP">
              <p class="userId"><%= user.userId %></p>
              <p class="userName"><%= user.name %></p>
            </div>
          </div>

          <!-- 프로필박스2 -->
          <div class="userBox2">
            <a href="/users/edit" class="box2A">
              <div class="box2">
                <span>정보수정</span>
                <img
                  src="/static/img/icons/arrow_right2.png"
                  alt="정보수정"
                  class="box2img"
                />
              </div>
            </a>
            <a href="/favorites" class="box2A">
              <div class="box2">
                <span>즐겨찾기</span>
                <img
                  src="/static/img/icons/arrow_right2.png"
                  alt="정보수정"
                  class="box2img"
                />
              </div>
            </a>
            <div class="box2" onclick="logout()">
              <span>로그아웃</span>
              <img
                src="/static/img/icons/arrow_right2.png"
                alt="로그아웃"
                class="box2img"
              />
            </div>
            <div class="box2" onclick="confirmClick()">
              <span>회원탈퇴</span>
              <img
                src="/static/img/icons/arrow_right2.png"
                alt="회원탈퇴"
                class="box2img confirm"
              />
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include("./includes/footer") %>
  </body>
  <script>
    // .title!!!!!!!
    document.querySelector(".title h3").innerText = "내정보";

    // 회원 탈퇴
    // 회원 탈퇴 함수
    function confirmClick() {
      if (confirm("회원을 탈퇴하시겠습니까?")) {
        // Ajax 요청
        $.ajax({
          type: "DELETE",
          url: "/users/delete", // 회원 탈퇴 라우트
          success: function (res) {
            if (res.success) {
              alert("회원 탈퇴가 완료되었습니다.");
              document.location.href = "/"; // 홈으로
            } else {
              alert("회원 탈퇴 중 오류가 발생했습니다.");
            }
          },
          error: function (err) {
            console.error("회원 탈퇴 오류:", err);
            alert("서버 오류가 발생했습니다.");
          },
        });
      }
    }

    async function logout() {
      try {
        // 로그아웃 요청 전송
        const response = await axios.post(
          "/users/logout",
          {},
          { withCredentials: true },
        );

        if (response.status === 200) {
          alert("로그아웃되었습니다.");
          document.location.href = "/"; // 홈으로 리디렉션
        } else {
          alert("로그아웃에 실패했습니다.");
        }
      } catch (error) {
        console.error("로그아웃 오류:", error);
        alert("서버 오류가 발생했습니다.");
      }
    }
  </script>
</html>
